In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [8]:
crime_12_17 = pd.read_csv('Chicago_Crimes_2012_to_2017.csv',sep=',', index_col=False, dtype='unicode')
crime_12_17.head(5)

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,3,10508693,HZ250496,05/03/2016 11:40:00 PM,013XX S SAWYER AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,24.0,29.0,08B,1154907.0,1893681.0,2016,05/10/2016 03:56:50 PM,41.864073157,-87.706818608,"(41.864073157, -87.706818608)"
1,89,10508695,HZ250409,05/03/2016 09:40:00 PM,061XX S DREXEL AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,20.0,42.0,08B,1183066.0,1864330.0,2016,05/10/2016 03:56:50 PM,41.782921527,-87.60436317,"(41.782921527, -87.60436317)"
2,197,10508697,HZ250503,05/03/2016 11:31:00 PM,053XX W CHICAGO AVE,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,...,37.0,25.0,24,1140789.0,1904819.0,2016,05/10/2016 03:56:50 PM,41.894908283,-87.758371958,"(41.894908283, -87.758371958)"
3,673,10508698,HZ250424,05/03/2016 10:10:00 PM,049XX W FULTON ST,0460,BATTERY,SIMPLE,SIDEWALK,False,...,28.0,25.0,08B,1143223.0,1901475.0,2016,05/10/2016 03:56:50 PM,41.885686845,-87.749515983,"(41.885686845, -87.749515983)"
4,911,10508699,HZ250455,05/03/2016 10:00:00 PM,003XX N LOTUS AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,...,28.0,25.0,06,1139890.0,1901675.0,2016,05/10/2016 03:56:50 PM,41.886297242,-87.761750709,"(41.886297242, -87.761750709)"

In [20]:
crime_12_17 = pd.read_csv('Chicago_Crimes_2012_to_2017.csv',sep=',', index_col=False, dtype='unicode')
crime_12_17.head(5)
new_crime = crime_12_17.drop(crime_12_17.columns[[0, 1, 2, 4, 5, 7, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22]], axis=1)
new_crime.head(5)
#new_crime[(new_crime[Year]>2013)]
#new_crime.to_csv('new_crime2.csv', sep='\t')

,Date,Primary Type,Location Description,Arrest,Year
0,05/03/2016 11:40:00 PM,BATTERY,APARTMENT,True,2016
1,05/03/2016 09:40:00 PM,BATTERY,RESIDENCE,False,2016
2,05/03/2016 11:31:00 PM,PUBLIC PEACE VIOLATION,STREET,False,2016
3,05/03/2016 10:10:00 PM,BATTERY,SIDEWALK,False,2016
4,05/03/2016 10:00:00 PM,THEFT,RESIDENCE,False,2016

In [23]:
crime_12_17[(crime_12_17[Year]>2013)]

NameError: name 'Year' is not defined